<div style = 'text-align: center;  font-size: 16px; margin-top: 50px'>
    <form action="http://localhost:5000/upload" method = "POST" enctype = "multipart/form-data">
        <label for="files"><strong style='font-size: 20px'>Select files:</strong></label>
      <input type="file" id="files" name="files" multiple><br><br>
      <input type="submit" style='padding: 15px 32px; font-size: 16px; margin: 4px 2px; text-align: center; background-color: #4CAF50; border: 0px '>
    </form>
</div>
