<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <title>Ket qua</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    </head>
    <body>
        <h1 style='text-align: center'>UPLOAD DATA SUCCESS</h1>
        <h2>Du doan: {{data['predict']}}</h2>
        <h2>Thuoc lop: {{data['real']}}</h2>
        <table class='table'>
            <tr>
                <th>Lop 1</th>
                <th>Lop 2</th>
                <th>Lop 3</th>
                <th>Lop 4</th>
                <th>Lop 5</th>
                <th>Lop 6</th>
                <th>Lop 7</th>
                <th>Lop 8</th>
                <th>Lop 9</th>
            </tr>
            
            <tr>
                {% for i in data['output'] %}
                    <td>{{i}}</td>
                {% endfor %}
            </tr>
          
        </table>
        <div id="piechart"></div>
        <script type="text/javascript">
            var values = {{data['output']}}
            var cls = ['Ramnit', 'Lollipop', 'Kelihos_ver3', 'Vundo', 'Simda', 'Tracur', 'Kelihos_ver1', 'Obfuscator.ACY', 'Gatak']
            var d = []
            d.push(['Name', 'Number'])
            for (i = 0; i < 9; i++){
                d.push([cls[i], values[i]])
            }

            google.charts.load('current', {'packages':['corechart']});
            google.charts.setOnLoadCallback(drawChart);
            function drawChart() {
                var data = google.visualization.arrayToDataTable(d);
                var options = {'title':'Biểu đồ tỷ lệ dự đoán', 'width':550, 'height':400};
                var chart = new google.visualization.PieChart(document.getElementById('piechart'));
                chart.draw(data, options);
        }   
        </script>
    </body>
</html>